.buy-btn {
    width: 100%;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0) !important;
}

.buy-btn:hover {
    background: rgba(58, 58, 58, .8) !important;
}

.symbol-label s {
    color: black !important;
}

.stock-form {
    margin: auto;
    width: 500px;
    padding: 20px 20px;
    border: rgba(255, 255, 255, .8) .5px solid;
    padding: 30px 30px;
    margin-top: 15%;
    background: rgba(0,0,0,.8);
}

.alert-msg {
    color: white;
}
