.portfolio-list {
    list-style: none;
    color: white;
    font-size: 30px;
    margin-top: 20%;
    margin-right: 5%;
    text-align: center;
    background: rgba(66, 120, 170, 0.5);
}

.spinner-border {
    margin-left: 500px;
    margin-top: 400px;
}

.loading {
    margin: auto;
}

.placeholder {
    height: 450px;
}

.portfolio-symbol {
    font-size: 30px;
}

.portfolio-change {
    background: black;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 10%;
    padding: 6px 6px;
    float: right;
}

.portfolio-info {
    float: left;
    margin-left: 20%;
}

.portfolio-shares {
    margin-left: 40px;
}

.tab-space {
    margin-left: 50px;
}

.portfolio-price {
    float: right;
    margin-right: 3%;

}