.portfolio-list {
    list-style: none;
    color: white;
    font-size: 30px;
    margin-top: 20%;
    margin-right: 5%;
    text-align: center;
    background: rgba(66, 120, 170, 0.5);
}

.spinner-border {
    margin-left: 250px;
    margin-top: 250px;
}

.loading {
    margin: auto;
}
.placeholder {
    height: 450px;
}